<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h2>Portfolio</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, facilis? Ut enim quisquam vero, consectetur amet accusantium voluptates error necessitatibus reiciendis, architecto cum aliquid commodi soluta ab dolorum magni nisi.</p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">

        </div>
    </div>
</div>