.row {
    padding: 20px;
}

div {
    background-color: #667FFF;
}

#nombre {
    font-weight: bold;
}

@media (min-width: 576px) {
    #foto-perfil {
        position: absolute;
        width: 18%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        margin-top: -100px;

    }
}

@media (max-width: 575px) {
    #foto-perfil {
        width: 23%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
    }
}