#logo-AP {
    width: 150px;
}
div {
    background-color: #2f3180;
}
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3180;
    border-bottom: 10px solid #FFCF14;
    
}

#redes-y-login {
    margin: 10px;
}

#logo-linkedin {
    width: 50px;
    margin: 5px;
}

#logo-github {
    width: 50px;
    margin: 5px;
}

#banner {
    width: 100%;
}

.btn {
    border-width: medium;
    font-weight: bold;
    margin: 5px;
}
