<div class="row">
    <div id="nav-bar">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logo-AP">
        </div>
        <div id="redes-y-login">
            <a href="https://github.com/facudelu"><img src="../../../assets/github.png" id="logo-github"></a>
            <a href="https://www.linkedin.com/in/facundo-ezequiel-de-luca-b19811103/"><img src="../../../assets/linkedin.png" id="logo-linkedin"></a>
            <button type="button" class="btn btn-outline-light btn btn-lg">Log in</button>
        </div> 
    </div>
    <div>
        <img src="../../../assets/Banner-keyboard.jpg" alt="" id="banner">
    </div>
</div>